[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
psycopg2 = "*"
pydantic = "*"
pydantic-settings = "*"
pydantic-core = "*"
pytest = "*"
python-dateutil = "*"
python-dotenv = "*"
python-multipart = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
starlette = "*"
uvicorn = "*"
wait-for-it = "*"

[dev-packages]

[requires]
python_version = "3.12"
